{% load static %} 
{% if objects.paginator.num_pages > 1 %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="{{  objects.has_previous|yesno:',disabled,disabled'  }}">
        <a href="{% if objects.has_previous %}{% querystring p=objects.previous_page_number %}{% endif %}" aria-label="Previous">
          <span aria-hidden="true"><i class="fa-solid fa-arrow-left me-2"></i>Anterior</span>
        </a>
      </li>

      {% for object in objects %}
      <span class="current m-auto">
        Questão {{ objects.number }} de {{ objects.paginator.num_pages }} | ID: {{ object.id }}
      </span>
      {% endfor %}

      <li class="{{  objects.has_next|yesno:',disabled,disabled'  }}">
        <a href="{% if objects.has_next %}{% querystring p=objects.next_page_number %}{% endif %}" aria-label="Next">
          <span aria-hidden="true">Próxima<i class="fa-solid fa-arrow-right ms-2"></i></span>
        </a>
      </li>
    </ul>
  </nav>
{% endif %}


{% for object in objects %}
<div class="col">
  <div class="card" style="background-color: var(--bs-white); padding: 32px">
    <!-- Título da prova/simulado -->
    {% include "gabarita_if/partials/_questao_header.html" %}

    <div class="card-body">
      <!-- Textos de Apoio -->
      {% include "gabarita_if/partials/_questao_textos.html" %}
      <!-- Alternativas -->
      <form method="POST" id="form-{{ object.id }}">
        {% csrf_token %}
        <input type="hidden" name="questao_id" value="{{ object.id }}" />
        {% include "gabarita_if/partials/_questao_alternativas.html" %}
      </form>
      <!-- Feedback -->
      {% include "gabarita_if/partials/_questao_feedback.html" %}
    </div>
  </div>
  <div class="text-end form-btn">
    <input type="submit" class="btn btn-primary" form="form-{{ object.id }}" value="Responder" />
  </div>
</div>
{% endfor %}
