{% load static %}

<div class="mb-3">
  <a
    href="{% url 'gabarita_if:avaliacoes' %}{% if request.GET.ordenar == 'ano' %}{% querystring ordenar='-ano' p=None %}{% else %}{% querystring ordenar='ano' p=None %}{% endif %}"
    hx-get="{% url 'gabarita_if:avaliacoes' %}{% if request.GET.ordenar == 'ano' %}{% querystring ordenar='-ano' p=None %}{% else %}{% querystring ordenar='ano' p=None %}{% endif %}"
    hx-target="#avaliacoes-content"
    hx-swap="innerHTML"
    hx-push-url="true"
    style="font-weight: 500; color: var(--bs-body-color)">
    Ano {% if request.GET.ordenar == 'ano' %}
    <i class="fa-solid fa-arrow-up ms-1"></i>
    {% else %}
    <i class="fa-solid fa-arrow-down ms-1"></i>
    {% endif %}
  </a>
</div>

<!-- ROW dos cards -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for object in objects %}

  <!-- Cada card ocupa 1 das 3 colunas -->
  <div class="col">
    <div class="card h-100" id="card-avaliacao">
      <div class="card-body">
        <div class="mb-2">
          <div class="d-flex justify-content-between align-items-top mb-3">
            {% if object.finalizada %}
            <div class="d-flex gap-2 flex-row align-items-center">
              <div>
                <i
                  class="fa-solid fa-circle-check fs-6 rounded-circle"
                  style="color: var(--primary-color); outline: 2px solid var(--primary-emphasis)"></i>
              </div>

              <p class="small mb-0 fst-italic">Avaliação já realizada</p>
            </div>
            {% else %}
            <p class="small mb-0 fst-italic">Avaliação não realizada</p>
            {% endif %}

            <div class="badge rounded-pill mb-auto">{{ object.questoes.count }} questões</div>
          </div>

          <h5 class="card-title">{{ object.titulo }} - {{ object.fonte }}</h5>
        </div>

        <hr />

        <div class="d-flex justify-content-between align-items-center mb-3">
          {% if object.subtitulo %}
          <div>
            <p class="mb-1" style="font-weight: 500; font-size: 14px; letter-spacing: 0.5px">Tema</p>

            <p class="card-subtitle">{{ object.subtitulo }}</p>
          </div>
          {% endif %}

          <div>
            <p class="mb-1" style="font-weight: 500; font-size: 14px; letter-spacing: 0.5px">Ano</p>

            <p class="card-text">{{ object.ano }}</p>
          </div>
        </div>

        <div class="d-grid gap-2">
          <div class="d-flex flex-column gap-2 small">
            <div class="d-flex gap-2">
              <a
                href="{% url 'gabarita_if:baixar-avaliacao' object.id %}"
                class="btn btn-secondary d-inline-flex align-items-center justify-content-center rounded-circle"
                style="border-radius: 20px; font-weight: 500; width: 45px"
                target="_blank">
                <i class="fa-solid fa-file-pdf"></i>
              </a>
              {% if object.finalizada %}
              <a href="{% url 'gabarita_if:responder-avaliacao' object.id %}" class="btn btn-outline-primary w-100">
                Refazer {{ nome }}
              </a>
              {% else %}
              <a href="{% url 'gabarita_if:responder-avaliacao' object.id %}" class="btn btn-primary w-100">
                Responder {{ nome }}
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% if objects.paginator.num_pages > 1 %}
<footer class="d-flex justify-content-center mt-4">
  <nav>
    <ul class="pagination">
      {% if objects.has_previous %}
      <li class="page-item">
        <a
          class="page-link"
          href="{% url 'gabarita_if:avaliacoes' %}{% querystring p=objects.previous_page_number %}"
          hx-get="{% url 'gabarita_if:avaliacoes' %}{% querystring p=objects.previous_page_number %}"
          hx-target="#avaliacoes-content"
          hx-swap="innerHTML"
          hx-push-url="true">
          &laquo;
        </a>
      </li>
      {% endif %} {% for num in objects.paginator.page_range %}
      <li class="page-item {% if objects.number == num %}active{% endif %}">
        <a
          class="page-link"
          href="{% url 'gabarita_if:avaliacoes' %}{% querystring p=num %}"
          hx-get="{% url 'gabarita_if:avaliacoes' %}{% querystring p=num %}"
          hx-target="#avaliacoes-content"
          hx-swap="innerHTML"
          hx-push-url="true">
          {{ num }}
        </a>
      </li>
      {% endfor %} {% if objects.has_next %}
      <li class="page-item">
        <a
          class="page-link"
          href="{% url 'gabarita_if:avaliacoes' %}{% querystring p=objects.next_page_number %}"
          hx-get="{% url 'gabarita_if:avaliacoes' %}{% querystring p=objects.next_page_number %}"
          hx-target="#avaliacoes-content"
          hx-swap="innerHTML"
          hx-push-url="true">
          &raquo;
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</footer>
{% endif %}
