{% load static %} 
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for caderno in objects %}
  <div class="col">
    <div class="card custom-card-wrapper" style="border-left: 5px solid {{ caderno.cor }};">
      <!-- Menu Overlay (Desliza da Esquerda) -->
      <div class="menu-overlay row" style="background-color: {{ caderno.cor }};">
        <div class="col my-auto text-center text">
          <a href="{% url 'gabarita_if:detalhar-caderno' caderno.id %}"> <i class="far fa-folder-open"></i><br />Abrir </a>
        </div>
        <div class="col my-auto text-center text">
          <a href="{% url 'gabarita_if:editar-caderno' caderno.id %}"> <i class="fas fa-edit"></i><br />Editar </a>
        </div>
        <div class="col my-auto text-center text">
          <button data-bs-toggle="modal" data-bs-target="#modal{{ caderno.id }}" style="all: unset">
            <i class="fa-solid fa-trash-can"></i><br />Remover
          </button>
        </div>
      </div>
      <div class="card-body card-body-content" id="card-avaliacao">
        <div class="id">
          <div class="text-truncate">
            <p class="card-title">{{ caderno.nome|truncatechars:20 }}</p>
          </div>
        </div>
        <div class="row info">
          <div class="col">
            <p>20</p>
            <p class="text">Assuntos Totais</p>
          </div>
          <div class="col">
            <p>20</p>
            <p class="text">Questões Totais</p>
          </div>
          <div class="col">
            <p>20</p>
            <p class="text">Questões Resolvidas</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "remover.html" with object=caderno url_remover='gabarita_if:remover-caderno' %}
  {% endfor %}
</div>
