{% load static %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for caderno in objects %}
  <div class="col">
    <div class="card custom-card-wrapper" style="border-left: 5px solid {{ caderno.cor }};">
      <!-- Menu Overlay -->
      <div class="menu-overlay row" style="background-color: {{ caderno.cor }};">
        <div class="col my-auto text-center text">
          <a href="{% url 'gabarita_if:detalhar-caderno' caderno.id %}"
            ><i class="far fa-folder-open"></i><br />
            Detalhar
          </a>
        </div>
        
        <div class="col my-auto text-center text">
          <a href="{% url 'gabarita_if:ajax-editar-caderno' caderno.id %}" class="btn-editar"><i class="fas fa-edit"></i><br />Editar</a>
        </div>

        <div class="col my-auto text-center text">
          <a href="{% url 'gabarita_if:ajax-remover-caderno' caderno.id %}" class="btn-remover">
            <i class="fa-solid fa-trash-can"></i><br />Remover
          </a>
        </div>
      </div>
      <div class="card-body card-body-content" id="card-avaliacao">
        <div class="id">
          <div class="text-truncate">
            <p class="card-title">{{ caderno.nome|truncatechars:20 }}</p>
          </div>
        </div>
        <div class="row info">
          <div class="col">
            <p>{{ caderno.total_assuntos }}</p>
            <p class="text">Assuntos<br />Totais</p>
          </div>
          <div class="col">
            <p>{{ caderno.total_questoes }}</p>
            <p class="text">Questões<br />Totais</p>
          </div>
          <div class="col">
            <p>{{ caderno.questoes_resolvidas }}</p>
            <p class="text">Questões Resolvidas</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
