{% load static %}
{% if listas %} 
{% for lista in listas %}
<div class="card mb-3">
  <div class="card-body d-flex align-items-center">
    <div>
      <p class="m-0 card-title" style="color: var(--primary-color)">{{ lista.nome|truncatechars:20 }}</p>
      <span class="fw-light fst-italic" style="font-size: 12px">Criada em {{ lista.criada_em }}</span>
    </div>
    <div class="ms-auto">
      <a href="{% url 'gabarita_if:detalhar-lista' lista.id %}" class="btn btn-read">
        <i class="fa-solid fa-eye"></i>
      </a>
      <a href="{% url 'gabarita_if:editar-lista' lista.id %}" class="btn btn-update">
        <i class="fa-solid fa-pen-to-square"></i>
      </a>
      <button class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#modal{{ lista.id }}">
        <i class="fa-solid fa-trash-can"></i>
      </button>
      <!-- Modal -->
      <div class="modal fade" id="modal{{ lista.id }}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content text-center">
            <div class="modal-header flex-column border-0 p-0">
              <i class="fa-solid fa-circle-question mb-3"></i>
              <h2 class="mt-2 mb-0 modal-title">Remover Lista?</h2>
            </div>
            <div class="modal-body">
              <p class="modal-text">
                Tem certeza que deseja remover <strong>{{ lista.nome|truncatechars:20 }}</strong>?
              </p>
            </div>
            <div class="modal-footer justify-content-center border-0 p-0 flex-wrap">
              <form method="post" action="{% url 'gabarita_if:remover-lista' lista.id %}">
                {% csrf_token %}
                <div class="d-flex gap-3">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-danger">Remover</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /Modal -->
    </div>
  </div>
</div>
{% endfor %} {% else %}
<div class="card">
  <div
    class="card-body d-flex flex-column flex-md-row align-items-center justify-content-center gap-5 my-5 text-center text-md-start"
  >
    <img src="{% static 'assets/img/5.png' %}" class="img-fluid" alt="" style="width: 15rem; max-width: 100%" />
    <div style="max-width: 20rem; word-wrap: break-word">
      <h5 class="fw-semibold mb-2">Ops, parece que você não cadastrou listas!</h5>
      <p class="mb-4">Vamos criar?</p>
      <a class="btn btn-primary" href="{% url 'gabarita_if:criar-lista' %}"> Adicionar Lista </a>
    </div>
  </div>
</div>
{% endif %}
