{% load static %} 
{% if listas %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for lista in listas %}
  <div class="col">
    <div class="card custom-card-wrapper" style="border-left: 5px solid {{ lista.cor }};">
      <!-- Menu Overlay (Desliza da Esquerda) -->
      <div class="menu-overlay row" style="background-color: {{ lista.cor }};">
        <div class="col my-auto text-center text">
          <a href="{% url 'gabarita_if:detalhar-lista' lista.id %}"> <i class="far fa-folder-open"></i><br />Abrir </a>
        </div>
        <div class="col my-auto text-center text">
          <a href="{% url 'gabarita_if:editar-lista' lista.id %}"> <i class="fas fa-edit"></i><br />Editar </a>
        </div>
        <div class="col my-auto text-center text">
          <button data-bs-toggle="modal" data-bs-target="#modal{{ lista.id }}" style="all: unset">
            <i class="fa-solid fa-trash-can"></i><br />Remover
          </button>
        </div>
      </div>
      <div class="card-body card-body-content" id="card-avaliacao">
        <div class="id">
          <div class="text-truncate">
            <p class="card-title">{{ lista.nome|truncatechars:20 }}</p>
          </div>
        </div>
        <div class="row info">
          <div class="col">
            <p>20</p>
            <p class="text">Assuntos Totais</p>
          </div>
          <div class="col">
            <p>20</p>
            <p class="text">Questões Totais</p>
          </div>
          <div class="col">
            <p>20</p>
            <p class="text">Questões Resolvidas</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "gabarita_if/partials/_modal_lista.html" %} 
  {% endfor %}
</div>
{% else %}
<div class="card">
  <div
    class="card-body d-flex flex-column flex-md-row align-items-center justify-content-center gap-5 my-5 text-center text-md-start"
  >
    <img src="{% static 'assets/img/3.png' %}" class="img-fluid" alt="" style="width: 15rem; max-width: 100%" />
    <div style="max-width: 20rem; word-wrap: break-word">
      <h5 class="fw-semibold mb-2">Ops, parece que você não cadastrou listas!</h5>
      <p class="mb-4">Vamos criar?</p>
      <a class="btn btn-primary" href="{% url 'gabarita_if:criar-lista' %}">Adicionar Lista</a>
    </div>
  </div>
</div>
{% endif %}
