{% load crispy_forms_filters %}
<div class="pb-0" style="margin-bottom: 50px">
  <div class="m-auto" style="max-width: 80rem">
    <div class="accordion filtro" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#filtro"
            aria-expanded="false"
            aria-controls="filtro"
          >
            Filtragem
          </button>
        </h2>
        <div id="filtro" class="accordion-collapse collapse">
          <div class="accordion-body">
            <form method="get">
              <div class="row mb-3">
                <div class="col">{{ filtro.form.disciplina|as_crispy_field }}</div>
                <div class="col">{{ filtro.form.assunto|as_crispy_field }}</div>
              </div>
              <div class="row mb-3">
                <div class="col">{{ filtro.form.prova|as_crispy_field }}</div>
              </div>
              <div class="row">
                <div class="col">{{ filtro.form.id|as_crispy_field }}</div>
              </div>
              <div class="text-center mt-3">
                <input type="submit" class="btn btn-primary form-btn btn-filter w-100" value="Filtrar" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
