{% load static %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for prova in objects %}
  <div class="col">
    <div class="card" id="card-avaliacao">
      <div class="card-body">
        <h5 class="card-title">{{ prova.titulo }}</h5>
        <p class="card-subtitle">{{ prova.instituicao }}</p>
        <p class="card-text">{{ prova.ano }}</p>
        <p class="badge rounded-pill text-bg-secondary">{{ prova.num_questoes }} questões</p>
      </div>
      <a href="#" class="btn btn-primary">Realizar Prova</a>
    </div>
  </div>
  {% endfor %}
</div>

{% comment %} Adicionar paginação {% endcomment %}