{% load static %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for simulado in objects %}
  <div class="col">
    <div class="card" id="card-avaliacao">
      <div class="card-body">
        <h5 class="card-title">{{ simulado.titulo }}</h5>
        <p class="card-subtitle">{{ simulado.subtitulo }}</p>
        <p class="card-text">{{ simulado.ano }}</p>
        <p class="badge rounded-pill text-bg-secondary">{{ simulado.num_questoes }} questões</p>
      </div>
      <a href="#" class="btn btn-primary">Realizar simulado</a>
    </div>
  </div>
  {% endfor %}
</div>
{% comment %} Adicionar paginação {% endcomment %}