{% load static %} 
{% if provas %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for prova in provas %}
  <div class="col">
    <div class="card" id="card-avaliacao">
      <div class="card-body">
        <h5 class="card-title">{{ prova.titulo }}</h5>
        <p class="card-subtitle">{{ prova.instituicao }}</p>
        <p class="card-text">{{ prova.ano }}</p>
        <p class="badge rounded-pill text-bg-secondary">{{ prova.num_questoes }} questões</p>
      </div>
      <a href="#" class="btn btn-primary">Realizar Prova</a>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="card">
  <div
    class="card-body d-flex flex-column flex-md-row align-items-center justify-content-center gap-5 my-5 text-center text-md-start"
  >
    <img src="{% static 'assets/img/4.png' %}" class="img-fluid" alt="" style="width: 15rem; max-width: 100%" />
    <div style="max-width: 20rem; word-wrap: break-word">
      <h5 class="fw-semibold mb-2">Ops, parece que não há provas cadastradas!</h5>
      <p class="m-0">Aguarde até que um administrador adicione novas provas.</p>
    </div>
  </div>
</div>
{% endif %}
