<div class="card-header d-flex flex-column align-items-center m-auto" style="all: unset">
  <p class="fw-bold m-0 d-flex align-items-center">
    {{ object.fonte }} <span class="mx-2 fs-4">•</span> Código da Questão: 
    <span class="codigo-questao ms-1">{{ object.codigo }}</span>
  </p>
  <div class="d-flex gap-1">
    <span class="badge rounded-pill">{{ object.disciplina }}</span>
    <span class="badge rounded-pill">{{ object.assunto }}</span>
    <span class="badge rounded-pill">{{ object.dificuldade }}</span>
  </div>
</div>