{% load static %}
<div>
  <div class="col-lg-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4 text-center">
            <div class="profile-header-avatarAndEdit-wrapper w-100">
              <div class="profile-header-avatarAndEdit">
                {% if usuario.avatar %}
                <img
                  class="profile-header-avatar rounded-circle"
                  src="{{ usuario.avatar.url }}"
                  alt="{{ usuario.username }}"
                />
                {% else %}
                <img
                  class="profile-header-avatar rounded-circle"
                  src="{% static 'assets/img/avatar.png' %}"
                  alt="{{ usuario.username }}"
                />
                {% endif %}
                <a
                  href="{% url 'dashboard:editar-usuario' usuario.id %}"
                  class="btn btn-update btn-sm profile-header-edit"
                >
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
              </div>
              <h5 class="profile-header-name">{{ usuario.username }}</h5>
              <p class="text-muted mb-0">{{ usuario.email }}</p>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3 m-auto">
                  <p class="mb-0 line-title">Usuário</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ usuario.username }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3 m-auto">
                  <p class="mb-0 line-title">E-mail</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ usuario.email }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3 m-auto">
                  <p class="mb-0 line-title">Nome</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ usuario.first_name|default:"—" }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3 m-auto">
                  <p class="mb-0 line-title">Sobrenome</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ usuario.last_name|default:"—" }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3 m-auto">
                  <p class="mb-0 line-title">Curso</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ usuario.curso|default:"—" }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="rounded-3 mb-3">
        <div class="mb-0 d-flex align-items-top justify-content-between">
          <a href="{% url 'dashboard:usuarios' %}" class="back-link"
            ><i class="fa-solid fa-arrow-left" style="margin-right: 3px"></i> Voltar para Usuários
          </a>
          <div>
            <a href="{% url 'dashboard:editar-usuario' usuario.id %}" class="btn btn-update">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <button class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#modal{{ usuario.id }}">
              <i class="fa-solid fa-trash-can"></i>
            </button>
            {% include "remover.html" with object=usuario url_remover="dashboard:remover-usuario" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
