<div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3 m-auto">
              <p class="mb-0 line-title">Disciplina</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ questao.disciplina }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3 m-auto">
              <p class="mb-0 line-title">Assunto</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ questao.assunto }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3 m-auto">
              <p class="mb-0 line-title">Enunciado</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ questao.enunciado }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3 m-auto">
              <p class="mb-0 line-title">Gabarito Comentado</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ questao.gabarito_comentado }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3 m-auto">
              <p class="mb-0 line-title">Alternativas</p>
            </div>
            <div class="col-sm-9">
              {% for alternativa in questao.alternativa_set.all %}
              <div {% if alternativa.correta %} style="color: var(--primary-color)" {% endif %}>
                {{ alternativa.texto|truncatechars:20 }}
              </div>
              {% endfor %}
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3 m-auto">
              <p class="mb-0 line-title">Textos de Apoio</p>
            </div>
            <div class="col-sm-9">
              {% for texto_de_apoio in questao.texto_de_apoio.all %}
              <div>{{ texto_de_apoio.titulo|truncatechars:20 }}</div>
              {% empty %}
              <span> — </span>
              {% endfor %}
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3 m-auto">
              <p class="mb-0 line-title">Vídeo Solução</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ questao.video_solucao }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3 m-auto">
              <p class="mb-0 line-title">Prova</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ questao.prova.titulo|default:"—" }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3 m-auto">
              <p class="mb-0 line-title">Simulado</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ questao.simulado.titulo|default:"—" }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
