{% load crispy_forms_tags %}

<ul class="nav nav-tabs" id="questaoTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="dados-tab"
      data-bs-toggle="tab"
      data-bs-target="#dados"
      type="button"
      role="tab"
    >
      Dados da Questão
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="avaliacao-tab"
      data-bs-toggle="tab"
      data-bs-target="#avaliacao"
      type="button"
      role="tab"
    >
      Alternativas
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="resolucao-tab"
      data-bs-toggle="tab"
      data-bs-target="#resolucao"
      type="button"
      role="tab"
    >
      Resoluções
    </button>
  </li>
</ul>

<div class="tab-content border border-top-0 rounded-bottom" id="questaoTabsContent" style="padding: 20px">
  <!-- Aba 1 -->
  <div class="tab-pane fade show active" id="dados" role="tabpanel">
    {{ form.disciplina|as_crispy_field }} {{ form.assunto|as_crispy_field }} {{ form.texto_de_apoio|as_crispy_field }}
    <div class="row">
      <div class="col">{{ form.prova|as_crispy_field }}</div>
      <div class="col">{{ form.simulado|as_crispy_field }}</div>
    </div>
    {{ form.enunciado|as_crispy_field }}
  </div>

  <!-- Aba 2 -->
  <div class="tab-pane fade" id="avaliacao" role="tabpanel">
    <div>
      <p class="small mb-3">*Selecione a alternativa correta</p>
      <!-- Alternativa A -->
      <div class="d-flex align-items-center mb-3 rounded-lg bg-light">
        <div class="d-flex align-items-center w-100">
          <div class="d-flex align-items-center gap-3 pe-3 m-auto">
            <label class="fw-semibold text-lg cursor-pointer" for="alt_a_radio"> A) </label>
            <input class="form-check-input custom-radio" type="radio" name="alternativa_correta" value="A"
            id="alt_a_radio" {% if form.alternativa_correta.value == 'A' %}checked{% endif %}>
          </div>
          <textarea
            name="alternativa_a"
            class="form-control border-0 shadow-none bg-transparent w-100"
            rows="2"
            placeholder="Digite a alternativa A"
          >{{ form.alternativa_a.value|default:'' }}</textarea>
        </div>
      </div>

      <!-- Alternativa B -->
      <div class="d-flex align-items-center mb-3 rounded-lg bg-light">
        <div class="d-flex align-items-center w-100">
          <div class="d-flex align-items-center gap-3 pe-3 m-auto">
            <label class="fw-semibold text-lg cursor-pointer" for="alt_b_radio"> B) </label>
            <input class="form-check-input custom-radio" type="radio" name="alternativa_correta" value="B"
            id="alt_b_radio" {% if form.alternativa_correta.value == 'B' %}checked{% endif %}>
          </div>
          <textarea
            name="alternativa_b"
            class="form-control border-0 shadow-none bg-transparent w-100"
            rows="2"
            placeholder="Digite a alternativa B"
          >{{ form.alternativa_b.value|default:'' }}</textarea>
        </div>
      </div>

      <!-- Alternativa C -->
      <div class="d-flex align-items-center mb-3 rounded-lg bg-light">
        <div class="d-flex align-items-center w-100">
          <div class="d-flex align-items-center gap-3 pe-3 m-auto">
            <label class="fw-semibold text-lg cursor-pointer" for="alt_c_radio"> C) </label>
            <input class="form-check-input custom-radio" type="radio" name="alternativa_correta" value="C"
            id="alt_c_radio" {% if form.alternativa_correta.value == 'C' %}checked{% endif %}>
          </div>
          <textarea
            name="alternativa_c"
            class="form-control border-0 shadow-none bg-transparent w-100"
            rows="2"
            placeholder="Digite a alternativa C"
          >{{ form.alternativa_c.value|default:'' }}</textarea>
        </div>
      </div>

      <!-- Alternativa D -->
      <div class="d-flex align-items-center rounded-lg bg-light mb-3">
        <div class="d-flex align-items-center w-100">
          <div class="d-flex align-items-center gap-3 pe-3 m-auto">
            <label class="fw-semibold text-lg cursor-pointer" for="alt_d_radio"> D) </label>
            <input class="form-check-input custom-radio" type="radio" name="alternativa_correta" value="D"
            id="alt_d_radio" {% if form.alternativa_correta.value == 'D' %}checked{% endif %}>
          </div>
          <textarea
            name="alternativa_d"
            class="form-control border-0 shadow-none bg-transparent w-100"
            rows="2"
            placeholder="Digite a alternativa D"
          >{{ form.alternativa_d.value|default:'' }}</textarea>
        </div>
      </div>
    </div>
  </div>

  <!-- Aba 3 -->
  <div class="tab-pane fade" id="resolucao" role="tabpanel">
    {{ form.gabarito_comentado|as_crispy_field }} 
    {{ form.video_solucao|as_crispy_field }}
  </div>
</div>
