{% load static %}
<div class="card">
  <div class="card-body">
    <div class="card-title">Painel</div>
    <div class="table-responsive">
      <table class="table table-hover table-striped m-0">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Enunciado</th>
            <th scope="col">Alternativas</th>
            <th scope="col">Textos de Apoio</th>
            <th scope="col">Prova</th>
            <th scope="col">Simulado</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for questao in objects %}
          <tr>
            <td>{{ questao.id }}</td>
            <td>{{ questao.enunciado|truncatechars:20 }}</td>
            <td>
              {% for alternativa in questao.alternativa_set.all %}
              <div {% if alternativa.correta %} style="color: var(--primary-color)" {% endif %}>
                {{ alternativa.texto|truncatechars:20 }}
              </div>
              {% endfor %}
            </td>
            <td>
              {% for texto_de_apoio in questao.texto_de_apoio.all %}
              <div>{{ texto_de_apoio.titulo|truncatechars:20 }}</div>
              {% empty %}
              <span> — </span>
              {% endfor %}
            </td>
            <td>{{ questao.prova.titulo|default:"—" }}</td>
            <td>{{ questao.questao.titulo|default:"—" }}</td>
            <td class="text-nowrap w-25">
              <a href="{% url 'dashboard:detalhar-questao' questao.id %}" class="btn btn-read">
                <i class="fa-solid fa-eye"></i>
              </a>
              <a href="{% url 'dashboard:editar-questao' questao.id %}" class="btn btn-update">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <button class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#modal{{ questao.id }}">
                <i class="fa-solid fa-trash-can"></i>
              </button>
              {% include "remover.html" with object=questao url_remover='dashboard:remover-questao' %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
