{% load static %}
<div class="card">
  <div class="card-body">
    <div class="card-title">Painel</div>
    <div class="table-responsive">
      <table class="table table-hover table-striped m-0">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Texto</th>
            <th scope="col">Imagem</th>
            <th scope="col">Questões</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for texto in objects %}
          <tr>
            <td>{{ texto.id }}</td>
            <td>{{ texto.titulo }}</td>
            <td>{{ texto.texto|default:"—"|truncatechars:20 }}</td>
            <td>{{ texto.imagem|default:"—"|truncatechars:20 }}</td>
            <td>{% for questao in texto.questao_set.all %} {{ questao.id }} {% empty %} — {% endfor %}</td>
            <td class="text-nowrap w-25">
              <a href="{% url 'dashboard:detalhar-texto' texto.id %}" class="btn btn-read">
                <i class="fa-solid fa-eye"></i>
              </a>
              <a href="{% url 'dashboard:editar-texto' texto.id %}" class="btn btn-update">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <button class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#modal{{ texto.id }}">
                <i class="fa-solid fa-trash-can"></i>
              </button>
              {% include "remover.html" with object=texto url_remover="dashboard:remover-texto" %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>