{% load static %}
<div class="card">
  <div class="card-body">
    <div class="card-title">Painel</div>
    <div class="table-responsive">
      <table class="table table-hover table-striped m-0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Instituição</th>
            <th>Ano</th>
            <th>Questões</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for prova in objects %}
          <tr>
            <td>{{ prova.id }}</td>
            <td>{{ prova.titulo }}</td>
            <td>{{ prova.instituicao }}</td>
            <td>{{ prova.ano }}</td>
            <td>{% for questao in prova.questao_set.all %} {{ questao.id }} {% empty %} — {% endfor %}</td>
            <td class="text-nowrap w-25">
              <a href="{% url 'dashboard:detalhar-prova' prova.id %}" class="btn btn-read">
                <i class="fa-solid fa-eye"></i>
              </a>
              <a href="{% url 'dashboard:editar-prova' prova.id %}" class="btn btn-update">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <button class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#modal{{ prova.id }}">
                <i class="fa-solid fa-trash-can"></i>
              </button>
              {% include "remover.html" with object=prova url_remover="dashboard:remover-prova" %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
