{% load static %}
<div class="card">
  <div class="card-body">
    <div class="card-title">Painel</div>
    <div class="table-responsive">
      <table class="table table-hover table-striped m-0">
        <thead>
          <tr>
            <th scope="col"><a href="{% querystring ordenar="id" %}">ID</a></th>
            <th scope="col"><a href="{% querystring ordenar="email" %}">E-mail</a></th>
            <th scope="col"><a href="{% querystring ordenar="username" %}">Usuário</a></th>
            <th scope="col"><a href="{% querystring ordenar="first_name" %}">Nome</a></th>
            <th scope="col"><a href="{% querystring ordenar="last_name" %}">Sobrenome</a></th>
            <th scope="col"><a href="{% querystring ordenar="curso" %}">Curso</a></th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
          <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.email|truncatechars:20 }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.first_name|default:"—" }}</td>
            <td>{{ usuario.last_name|default:"—" }}</td>
            <td>{{ usuario.curso|default:"—"|truncatechars:20 }}</td>
            <td class="text-nowrap w-25">
              <a href="{% url 'usuarios:detalhar-usuario' usuario.id %}" class="btn btn-read">
                <i class="fa-solid fa-eye"></i>
              </a>
              <a href="{% url 'usuarios:editar-usuario' usuario.id %}" class="btn btn-update">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <button class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#modal{{ usuario.id }}">
                <i class="fa-solid fa-trash-can"></i>
              </button>
              {% include "remover.html" with object=usuario url_remover="usuarios:remover-usuario" %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
