<a href="{% url 'dashboard:editar-usuario' usuario.id %}" class="btn btn-update">
  <i class="fa-solid fa-pen-to-square"></i>
</a>
{% if usuario == request.user %}
<button class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#modal{{ usuario.id }}" disabled>
  <i class="fa-solid fa-trash-can"></i>
</button>
{% else %}
<button class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#modal{{ usuario.id }}">
  <i class="fa-solid fa-trash-can"></i>
</button>
{% endif %}
<!-- Modal -->
<div class="modal fade" id="modal{{ usuario.id }}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-header flex-column border-0 p-0">
        <i class="fa-solid fa-circle-question mb-3"></i>
        <h2 class="mt-2 mb-0 modal-title">Remover Usuário?</h2>
      </div>
      <div class="modal-body">
        <p class="modal-text">Tem certeza que deseja remover <strong>{{ usuario.username }}</strong>?</p>
      </div>
      <div class="modal-footer justify-content-center border-0 p-0 flex-wrap">
        <form method="post" action="{% url 'dashboard:remover-usuario' usuario.id %}">
          {% csrf_token %}
          <div class="d-flex gap-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger">Remover</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Modal -->
