{% if questoes %}
<div class="card">
  <div class="card-body">
    <div class="card-title">Painel</div>
    <div class="table-responsive">
      <table class="table table-hover table-striped m-0">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Texto</th>
            <th scope="col">Alternativas</th>
            <th scope="col">Prova associada</th>
            <th scope="col">Simulado associado</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for questao in questoes %}
          <tr>
            <td>{{ questao.id }}</td>
            <td>{{ questao.texto|truncatechars:80 }}</td>
            <td>
              {% for alternativa in questao.alternativa_set.all %}
              <div>
                {{ alternativa.texto }} {% if alternativa.correta %}
                <i class="fa-solid fa-circle-check"></i>
                {% endif %}
              </div>
              {% empty %}
              Sem alternativas.
              {% endfor %}
            </td>
            <td>{{ questao.prova.titulo|default:"—" }}</td>
            <td>{{ questao.simulado.titulo|default:"—" }}</td>
            <td class="text-nowrap w-25">
              <a href="{% url 'dashboard:detalhar-questao' questao.id %}" class="btn btn-primary"
                ><i class="fa-regular fa-eye"></i
              ></a>
              <a href="{% url 'dashboard:editar-questao' questao.id %}" class="btn btn-secondary"
                ><i class="fa-regular fa-pen-to-square"></i
              ></a>
              <a href="{% url 'dashboard:remover-questao' questao.id %}" class="btn btn-danger"
                ><i class="fa-regular fa-trash-can"></i
              ></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% else %}
<p colspan="3" class="text-muted py-4">Nenhuma questão cadastrada.</p>
{% endif %}
