{% if alternativas %}
<div class="card">
  <div class="card-body">
    <div class="card-title">Painel</div>
    <div class="table-responsive">
      <table class="table table-hover table-striped m-0">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Texto</th>
            <th scope="col">É Correta?</th>
            <th scope="col">Questão associada</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for alternativa in alternativas %}
          <tr>
            <td>{{ alternativa.id }}</td>
            <td>{{ alternativa.texto }}</td>
            <td>{% if alternativa.correta == True%} Sim {% else %} Não {% endif %}</td>
            <td>{{ alternativa.questao.id }}</td>
            <td class="text-nowrap w-25">
              <a href="{% url 'dashboard:detalhar-alternativa' alternativa.id %}" class="btn btn-primary"
                ><i class="fa-regular fa-eye"></i
              ></a>
              <a href="{% url 'dashboard:editar-alternativa' alternativa.id %}" class="btn btn-secondary"
                ><i class="fa-regular fa-pen-to-square"></i
              ></a>
              <a href="{% url 'dashboard:remover-alternativa' alternativa.id %}" class="btn btn-danger"
                ><i class="fa-regular fa-trash-can"></i
              ></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% else %}
<p colspan="3" class="text-muted py-4">Nenhuma alternativa cadastrada.</p>
{% endif %}
