{% if provas %}
<div class="card">
  <div class="card-body">
    <div class="card-title">Painel</div>
    <div class="table-responsive">
      <table class="table table-hover table-striped m-0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Instituição</th>
            <th>Ano</th>
            <th>Questões associadas</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for prova in provas %}
          <tr>
            <td>{{ prova.id }}</td>
            <td>{{ prova.titulo }}</td>
            <td>{{ prova.instituicao }}</td>
            <td>{{ prova.ano }}</td>
            <td>{% for questao in prova.questao_set.all %} {{ questao.id }} {% empty %} — {% endfor %}</td>
            <td class="text-nowrap w-25">
              <a href="{% url 'dashboard:detalhar-prova' prova.id %}" class="btn btn-read">
                <i class="fa-solid fa-eye"></i>
              </a>
              <a href="{% url 'dashboard:editar-prova' prova.id %}" class="btn btn-update">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <button class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#modal{{ prova.id }}">
                <i class="fa-solid fa-trash-can"></i>
              </button>
              <!-- Modal -->
              <div class="modal fade" id="modal{{ prova.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content text-center">
                    <div class="modal-header flex-column border-0 p-0">
                      <i class="fa-solid fa-circle-question mb-3"></i>
                      <h2 class="mt-2 mb-0 modal-title">Remover Prova?</h2>
                    </div>
                    <div class="modal-body">
                      <p class="modal-text">Tem certeza que deseja remover <strong>{{ prova.titulo }}</strong>?</p>
                    </div>
                    <div class="modal-footer justify-content-center border-0 p-0 flex-wrap">
                      <form method="post" action="{% url 'dashboard:remover-prova' prova.id %}">
                        {% csrf_token %}
                        <div class="d-flex gap-3">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-danger">Remover</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Modal -->
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% else %}
<p class="text-muted py-4">Nenhuma avaliação cadastrada.</p>
{% endif %}
