<div class="card">
  <div class="card-body">
    <div class="card-title">Painel</div>
    <div class="table-responsive">
      <table class="table table-hover table-striped m-0">
        <thead>
          <tr>
            <th scope="col"><a href="{% querystring ordenar='id' %}">ID</a></th>
            <th scope="col"><a href="{% querystring ordenar='email' %}">E-mail</a></th>
            <th scope="col"><a href="{% querystring ordenar='username' %}">Nome de Usuário</a></th>
            <th scope="col"><a href="{% querystring ordenar='first_name' %}">Primeiro Nome</a></th>
            <th scope="col"><a href="{% querystring ordenar='is_superuser' %}">Admin</a></th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
          <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.email|truncatechars:20 }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.first_name|default:"—" }}</td>
            {% if usuario.is_superuser == True %}
            <td>Sim</td>
            {% else %}
            <td>Não</td>
            {% endif %}
            <td class="text-nowrap w-25">
              <a href="{% url 'dashboard:detalhar-usuario' usuario.id %}" class="btn btn-read">
                <i class="fa-solid fa-eye"></i>
              </a>
              <a href="{% url 'dashboard:editar-usuario' usuario.id %}" class="btn btn-update">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <button class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#modal{{ usuario.id }}" {% if usuario == request.user %} disabled {% endif %}>
                <i class="fa-solid fa-trash-can"></i>
              </button>
              <!-- Modal -->
              <div class="modal fade" id="modal{{ usuario.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content text-center">
                    <div class="modal-header flex-column border-0 p-0">
                      <i class="fa-solid fa-circle-question mb-3"></i>
                      <h2 class="mt-2 mb-0 modal-title">Remover Usuário?</h2>
                    </div>
                    <div class="modal-body">
                      <p class="modal-text">Tem certeza que deseja remover <strong>{{ usuario.username }}</strong>?</p>
                    </div>
                    <div class="modal-footer justify-content-center border-0 p-0 flex-wrap">
                      <form method="post" action="{% url 'dashboard:remover-usuario' usuario.id %}">
                        {% csrf_token %}
                        <div class="d-flex gap-3">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-danger">Remover</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Modal -->
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
