{% load static %} {% if provas %}
<div class="card">
  <div class="card-body">
    <div class="card-title">Painel</div>
    <div class="table-responsive">
      <table class="table table-hover table-striped m-0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Instituição</th>
            <th>Ano</th>
            <th>Questões associadas</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for prova in provas %}
          <tr>
            <td>{{ prova.id }}</td>
            <td>{{ prova.titulo }}</td>
            <td>{{ prova.instituicao }}</td>
            <td>{{ prova.ano }}</td>
            <td>{% for questao in prova.questao_set.all %} {{ questao.id }} {% empty %} — {% endfor %}</td>
            <td class="text-nowrap w-25">
              <a href="{% url 'dashboard:detalhar-prova' prova.id %}" class="btn btn-read">
                <i class="fa-solid fa-eye"></i>
              </a>
              <a href="{% url 'dashboard:editar-prova' prova.id %}" class="btn btn-update">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <button class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#modal{{ prova.id }}">
                <i class="fa-solid fa-trash-can"></i>
              </button>
              {% include "dashboard/partials/_modal_prova.html" %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% else %}
<div class="card">
  <div
    class="card-body d-flex flex-column flex-md-row align-items-center justify-content-center gap-5 my-5 text-center text-md-start"
  >
    <img src="{% static 'assets/img/3.png' %}" class="img-fluid" alt="" style="width: 15rem; max-width: 100%" />
    <div style="max-width: 20rem; word-wrap: break-word">
      <h5 class="fw-semibold mb-2">Ops, parece que você não cadastrou provas!</h5>
      <p class="mb-4">Vamos criar?</p>
      <a class="btn btn-primary" href="{% url 'dashboard:criar-prova' %}"> Adicionar Prova </a>
    </div>
  </div>
</div>
{% endif %}
