:root {
  --primary-color: #4cc49e;
  --primary-emphasis: #d3f5ea;
  --primary-dark: #00895d;
  --secondary-color: #423f75;
  --secondary-emphasis: #d4d3f5;
  --secondary-dark: #312f58;
  --danger-color: #ff7a71;
  --warning-color: #f3de15;
  --gray100: #f8f9fa;
  --gray200: #e9ecef;
  --gray300: #dee2e6;
  --gray500: #adb5bd;
  --gray600: #6c757d;
  --gray800: #343a40;
  --white: #fff;
  --shadow: #2222221a;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

body {
  background-color: var(--gray100);
  color: var(--gray800);
  font-family: "Montserrat", sans-serif;
}

.background-login {
  background-image: url("/static/gabarita_if/img/bg-login.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: var(--secondary-color);
}

.title {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 32px;
  margin-top: 30px;
}

.subtitle {
  color: var(--secondary-color);
}

.credentials {
  width: 25rem !important;
}

.btn-submit {
  background-color: var(--secondary-color);
  border: var(--secondary-color);
  font-weight: 600;
  padding: 10px 0 !important;
  color: var(--white);
  text-transform: uppercase;
}

.btn-submit:hover {
  background-color: var(--secondary-dark) !important;
  border: var(--secondary-dark);
  color: var(--white) !important;
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.25rem var(--primary-emphasis);
}

.form-control::placeholder {
  color: var(--gray300);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
}

.brand {
  width: 15rem !important;
}

.big-brand {
  width: 40rem !important;
}
