{% extends 'registration/base.html' %} 
{% load static %} 
{% load static crispy_forms_tags %} 
{% block title%}Cadastro{%endblock title %} 
{% block content%}
<div style="background: radial-gradient(var(--secondary-color), var(--secondary-dark));">
<div class="container" >
  <div class="row align-items-center justify-content-center">
    <div class="card col-md-7" style="max-width: 550px;">
      <div class="text-center">
        <h3 class="mb-4">Cadastro</h3>
      </div>
      <form method="POST">
        {% csrf_token %} {{ form|crispy }}
        <input type="submit" value="Cadastrar" class="btn btn-block btn-primary w-100 form-btn" />
      </form>
      <div class="text-center mt-4">
        <span class="register">
          Já tem uma conta?
          <a href="{% url 'usuarios:login' %}">Faça o login</a>
        </span>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}
