{% extends "base.html" %} 
{% load static crispy_forms_tags %} 
{% block title %}Meu Perfil{% endblock %} 
{% block content %}
<section>
  <div class="m-auto" style="max-width: 80rem">
    <h1 class="mb-4">Editar</h1>
    <div class="card">
      <form method="post" enctype="multipart/form-data">
        <div class="text-start">{% csrf_token %} {{ form | crispy }}</div>
        <button type="submit" class="btn btn-primary mt-3">Salvar</button>
        <a href="{% url 'usuarios:perfil' %}" class="btn btn-secondary mt-3">Cancelar</a>
      </form>
    </div>
  </div>
</section>
{% endblock %}
