{% extends 'registration/base.html' %} 
{% load static %} 
{% load static crispy_forms_tags %} 
{% block title%}Login{%endblock title %} 
{% block content %}
<div class="d-flex">
  <div class="col d-flex justify-content-center background-login">
    <img src="{% static 'gabarita_if/img/logo_white.svg' %}" alt="" class="img-fluid px-5 big-brand" />
  </div>
  <div class="col d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center">
      <img src="{% static 'gabarita_if/img/logo_blue.svg' %}" alt="Logo Azul" class="img-fluid brand"/>
      <h1 class="title">Faça seu login</h1>
      <span class="subtitle mb-4">Bem-vindo! Digite suas credenciais.</span>
      <div class="credentials">
        <form method="POST">
          {% csrf_token %} 
          {{ form | crispy }}
          <div class="small mb-4 text-end">
            <a href="{% url 'usuarios:password_reset' %}">Esqueceu sua senha?</a>
          </div>
          <button type="submit" class="btn w-100 btn-submit mb-4">Entrar</button>
          <div class="text-center">
            <p class="small">
              Não tem uma conta?
              <a href="{% url 'usuarios:cadastro' %}">Cadastre-se <i class="fa-solid fa-arrow-right ms-1"></i></a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
