{% extends "registration/base.html" %} 
{% load static %} 
{% load static crispy_forms_tags %} 
{% block title%}Login{%endblock title %} 
{% block content %}
<div class="d-lg-flex half">
  <div class="bg order-1 order-md-2">
    <img src="{% static 'assets/img/logo_blue.svg' %}" alt="" class="img-fluid px-4" />
  </div>
  <div class="contents order-2 order-md-1">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="card col" style="max-width: 520px;">
          <div class="text-center">
            <h3>Login</h3>
            <p class="mb-4 small">Acesse ao Gabarita IF!</p>
          </div>
          <form method="POST">
            {% csrf_token %} {{ form|crispy }}
            <div class="text-end" style="margin-bottom: 10px">
              <span class="ml-auto"
                ><a href="{% url 'usuarios:password_reset' %}" class="forgot-pass">Esqueci minha senha</a></span
              >
            </div>
            <input type="submit" value="Entrar" class="btn btn-block btn-primary w-100 form-btn" />
            <div class="text-center mt-4">
              <span class="register">
                Não tem uma conta?
                <a href="{% url 'usuarios:cadastro' %}">Cadastre-se</a>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
