{% extends "registration/base.html" %} 
{% load crispy_forms_filters %} 
{% block content %}
<div style="background: radial-gradient(var(--secondary-color), var(--secondary-dark))">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="card col" style="max-width: 520px">
        <div class="text-center">
          <h3>Alterar Senha</h3>
        </div>
        <form method="POST">
          {% csrf_token %} {{ form|crispy }}
          <div class="text-end">
          <span class="mb-2 small"><a href="{% url 'password_reset' %}">Criar nova senha</a></span>
        </div>
          <input type="submit" value="Enviar" class="btn btn-block btn-primary w-100 mt-3" />
        </form>
        <div class="text-center">
          <a href="{% url 'gabarita_if:index' %}" class="text-decoration-none btn btn-secondary w-100 mt-3">Cancelar</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
