{% extends "registration/base.html" %} 
{% load crispy_forms_filters %} 
{% block content %}
<div style="background: radial-gradient(var(--secondary-color), var(--secondary-dark))">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="card col" style="max-width: 520px">
        <div class="text-center">
          <h3>Recuperar Senha</h3>
          <p>
            Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.
          </p>
        </div>
        <form method="post">
          {% csrf_token %} 
          {{ form|crispy }}
          <input type="submit" value="Enviar" class="btn btn-block btn-primary w-100 mt-3" />
        </form>
        <div class="text-center mt-3">
          <a href="{% url 'login' %}" class="text-decoration-none btn btn-secondary w-100">Cancelar</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
