{% extends "registration/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
<div style="background: radial-gradient(var(--secondary-color), var(--secondary-dark))">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="card col" style="max-width: 520px">
        <div class="text-center">
          <h3>Alterar Senha</h3>
          <p class="mb-4" style="color: var(--primary-color)">Senha alterada com sucesso!</p>
          <a href="{% url 'password_change' %}" class="text-decoration-none btn btn-secondary w-100">Voltar</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
