{% extends "registration/base.html" %} 
{% load crispy_forms_filters %} 
{% block content %}
<div style="background: radial-gradient(var(--secondary-color), var(--secondary-dark))">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="card col" style="max-width: 520px">
        <div class="text-center">
          <h3>Redefinição de senha completa</h3>
          <p class="mb-4">Sua senha foi definida. Você pode prosseguir e se autenticar agora.</p>
        </div>
        <a href="{% url 'login' %}" class="text-decoration-none btn btn-secondary w-100">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
