{% extends "registration/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
<div style="background: radial-gradient(var(--secondary-color), var(--secondary-dark))">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="card col" style="max-width: 520px">
        <div class="text-center">
          <h3>Redefinição de senha enviada</h3>
          <p>Nós te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email fornecido. Você receberá a mensagem em breve.</p>
          <p class="mb-4">Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.</p>
          <a href="{% url 'login' %}" class="text-decoration-none btn btn-secondary w-100">Voltar</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
