{% extends "registration/base.html" %} {% load crispy_forms_filters %} {% block content %}
<div style="background: radial-gradient(var(--secondary-color), var(--secondary-dark))">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col" style="max-width: 520px">
        <div class="mb-3">
          <a href="{% url 'website:index' %}" class="back-link text-decoration-none">
            <i class="fa-solid fa-arrow-left" style="margin-right: 3px" aria-hidden="true"></i> Voltar
          </a>
        </div>
        <div class="card">
          <div class="text-center">
            <h3>Recuperar Senha</h3>
            <p class="mb-4">Digite seu email para enviar a mensagem de recuperação.</p>
          </div>
          <form method="POST">
            {% csrf_token %} {{ form|crispy }}
            <input type="submit" value="Enviar" class="btn btn-block btn-primary w-100 mt-3" />
          </form>
          <div class="text-center mt-3">
            <a href="{% url 'login' %}" class="text-decoration-none btn btn-secondary w-100">Cancelar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
