{% extends 'registration/base.html' %}
{% block title %}Recuperar Senha{% endblock %}
{% block content %}

<div class="col-lg-6">
    <div class="card shadow">
        <div class="card-body p-4 p-md-5">
        <h2 class="text-center mb-3">Redefinição de senha enviada</h2>
        <p>Nós te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email fornecido. Você receberá a mensagem em breve.</p>
        <p class="mb-3">Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.</p>
        <div class="text-center mt-3">
            <a href="{% url 'login' %}" class="text-decoration-none">Voltar</a>
        </div>
    </div>
</div>

{% endblock %}