:root {
  --primary-color: #4cc49e;
  --primary-emphasis: #d3f5ea;
  --primary-dark: #44ab8a;
  --secondary-color: #423f75;
  --secondary-emphasis: #d4d3f5;
  --secondary-dark: #312f58;
  --danger-color: #ff7a71;
  --danger-emphasis: #f5d5d3;
  --danger-dark: #c51305;
  --warning-color: #f3de15;
  --bs-white: #ffffff;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-dark: #212529;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: "Montserrat", sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #495057;
  --bs-body-bg: #f6f7fc;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
}

/* Estilo da barra de rolagem para navegadores WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px; /* largura da barra */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* fundo da trilha */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4cc49e; /* cor da barra */
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #44ab8a;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4cc49e #f1f1f1;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
  background-color: rgb(255, 255, 255, 0.9);
  box-shadow: 0px 0px 5px var(--shadow);
  z-index: 1000;
  position: sticky;
  top: 0;
  backdrop-filter: blur(12px);
}

a {
  text-decoration: none !important;
}

footer {
  color: var(--bs-gray-500);
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.section-gradient {
  background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
}

.h1-section {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 48px;
  text-align: center;
}

.h1-section.blue {
  color: var(--secondary-color);
}

.h1-section.white {
  color: var(--bs-white);
}

.navbar-brand {
  width: 180px;
}

.navbar-icon {
  font-size: 22px;
  color: var(--gray500);
}

.btn-login {
  border: 2px solid var(--secondary-color) !important;
  color: var(--secondary-color) !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: small;
  padding: 8px 16px;
  transition: 0.25s;
}

.btn-login:hover {
  background-color: var(--secondary-color) !important;
  color: var(--bs-white) !important;
}

.introduction-banner {
  height: auto;
  max-height: 32rem;
  width: 100%;
  max-width: 32rem;
}

.introduction-title {
  font-size: 50px;
  font-weight: 700;
  color: var(--bs-white);
}

.introduction-subtitle {
  font-family: "Caveat", cursive;
  letter-spacing: 1px;
  font-size: 35px;
  font-weight: 300;
  color: var(--primary-color);
}

.introduction-text {
  color: var(--bs-white);
  line-height: 30px;
  width: auto;
  max-width: 30rem;
}

.introduction-btn {
  width: 15rem;
  background-color: var(--bs-white) !important;
  border: 2px solid var(--bs-white) !important;
  color: var(--secondary-color) !important;
  font-weight: 600 !important;
  transition: outline 0.1s ease-in-out;
}

.introduction-btn:hover {
  outline: 5px solid rgb(255, 255, 255, 0.3) !important;
}

.about-logo {
  max-width: 350px;
}

.about-title {
  font-weight: bold;
  color: var(--secondary-color);
}

.about-subtitle {
  font-family: "Caveat", cursive;
  font-size: 24px;
  color: var(--secondary-color);
  letter-spacing: 1px;
}

.about-text {
  line-height: 30px;
  text-align: justify;
  margin: 0;
  width: auto;
  max-width: 50rem;
}

.ifrn-logo {
  max-width: 300px;
}

.metaifrn-logo {
  max-width: 90px;
}

.member-name {
  color: var(--primary-emphasis);
  font-weight: bold;
  font-size: 18px;
}

.member-function {
  color: var(--bs-white);
}

.member-image {
  height: 14rem;
  width: 14rem;
  transition: ease-in-out 0.3s;
  object-fit: cover !important;
  filter: brightness(70%);
  box-shadow: 0 4px 6px #2020201a;
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .member-image {
    height: 14rem;
    width: 14rem;
  }
}

.gradient-line {
  background-image: linear-gradient(to bottom right, var(--primary-color), var(--primary-emphasis));
  height: 70px;
  width: 3px;
}

.card-title {
  font-weight: 600 !important;
  margin-bottom: 12px;
  color: var(--secondary-color);
}

.card {
  padding: 20px;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--bs-white);
  box-shadow: 0 4px 6px #2020201a;
}

.member-name {
  color: var(--primary-emphasis);
  font-weight: bold;
  font-size: 18px;
}

.member-function {
  color: var(--bs-white);
}

.member-image {
  width: 100%;
  max-width: 200px;
  max-width: 200px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover !important;
  transition: ease-in-out 0.3s;
  filter: brightness(70%);
  box-shadow: 0 4px 6px #2020201a;
}

@media (min-width: 992px) {
  .member-image {
    height: 14rem;
    width: 14rem;
    max-width: none;
  }
}

.member-image:hover {
  transform: scale(1.1);
  filter: brightness(100%);
}

.gradient-line {
  background-image: linear-gradient(to bottom right, var(--primary-color), var(--primary-emphasis));
  height: 70px;
  width: 3px;
}

.navbar-brand {
  width: 180px;
}

.nav-item-link {
  color: var(--secondary-color) !important;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.nav-item-link:hover {
  color: var(--primary-color) !important;
}

.navbar-icon {
  font-size: 22px;
  color: var(--gray500);
}

.navbar-toggler {
  padding: 0;
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: none;
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.sb-topnav {
  z-index: 1039;
  padding: 18px 35px;
}

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 18px;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  background-color: rgb(255, 255, 255, 0.9);
  backdrop-filter: blur(12px);
  box-shadow: 0px 0px 8px var(--bs-border-color-translucent);
}

.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
  max-width: 180px;
  min-width: 150px;
}

.sb-topnav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.section-gradient {
  background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
}

.btn {
  border-radius: 50px;
  transition: 0.25s;
  font-weight: 500;
  padding: 8px 16px !important;
  outline: none !important;
}

.btn-link {
  font-weight: 400;
  color: var(--secondary-emphasis);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--secondary-color);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--secondary-color);
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: none;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  text-decoration: underline;
}

i {
  font-size: 0.9rem;
}

.members-row {
  background: radial-gradient(var(--secondary-color), var(--secondary-dark));
}
.icon {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  font-size: 40px;
  color: var(--secondary-color);
  transition: all 0.3s ease-out 0s;
  box-shadow: 0px 0px 5px var(--primary-color);
  background-color: var(--primary-color);
  i {
    font-size: 40px;
  }
}
