:root {
  --primary-color: #4cc49e;
  --primary-emphasis: #d3f5ea;
  --primary-dark: #00895d;
  --secondary-color: #423f75;
  --secondary-emphasis: #d4d3f5;
  --secondary-dark: #312f58;
  --danger-color: #ff7a71;
  --warning-color: #f3de15;
  --gray100: #f8f9fa;
  --gray200: #e9ecef;
  --gray300: #dee2e6;
  --gray500: #adb5bd;
  --gray600: #6c757d;
  --gray800: #343a40;
  --white: #fff;
  --shadow: #2222221a;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--gray100);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}


body {
  background-color: var(--gray100);
  color: var(--gray800);
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: rgb(255, 255, 255, 0.9);
  box-shadow: 0px 0px 5px var(--shadow);
  z-index: 1000;
  position: sticky;
  top: 0;
  backdrop-filter: blur(12px);
}

a {
  text-decoration: none !important;
}

footer {
  color: var(--gray500);
}

section {
  padding: 80px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.section-gradient {
  background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
}

.section-gradient:first-child {
  padding: 50px 0 !important;
}

.h1-section {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 48px;
  text-align: center;
}

.h1-section.blue{
  color: var(--secondary-color);
}

.h1-section.white{
  color: var(--white);
}

/* Navbar Style */
.navbar-brand {
  width: 170px;
}

.navbar-icon {
  font-size: 22px;
  color: var(--gray500);
}

.btn-login {
  border: 2px solid var(--secondary-color) !important;
  color: var(--secondary-color) !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: small;
  padding: 8px 16px;
}

.btn-register {
  background-color: var(--secondary-color) !important;
  border: 2px solid var(--secondary-color) !important;
  color: var(--white) !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: small;
  padding: 8px 16px;
}


/* Introduction Section Style */
.introduction-banner {
  height: 30rem;
}

.introduction-title {
  font-size: 50px;
  font-weight: 700;
  color: var(--white);
}

.introduction-subtitle {
  font-family: "Caveat", cursive;
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 300;
  color: var(--primary-emphasis);
}

.introduction-text {
  color: var(--white);
  line-height: 30px;
  width: 30rem;
}

.introduction-btn {
  width: 15rem;
  background-color: var(--white) !important;
  border: 2px solid var(--white) !important;
  color: var(--primary-color) !important;
  font-weight: 600;
  transition: outline 0.3s ease-in-out;
  outline: 5px solid transparent !important;
}

.introduction-btn:hover {
  outline: 5px solid rgb(255, 255, 255, 0.3) !important;
}


/* About Section Style */
.about-logo {
  max-width: 350px;
}

.about-title {
  font-weight: bold;
  color: var(--secondary-color);
}

.about-subtitle {
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-size: 24px;
  color: var(--secondary-color);
  letter-spacing: 1px;
}

.about-text {
  line-height: 30px;
  text-align: justify;
  margin: 0;
  width: 50rem;
}

.ifrn-logo {
  max-width: 300px;
}

.metaifrn-logo {
  max-width: 90px;
}


/* Members Section Style */
.member-name {
  color: var(--primary-emphasis);
  font-weight: bold;
  font-size: 18px;
}

.member-function {
  color: var(--white);
}

.member-image {
  height: 14rem;
  width: 14rem;
  transition: ease-in-out 0.3s;
  object-fit: cover !important;
  filter: brightness(60%);
}

.member-image:hover {
  transform: scale(1.1);
  filter: brightness(100%);
}

.gradient-line {
  background-image: linear-gradient(to bottom right, var(--primary-color), var(--primary-emphasis));
  height: 70px;
  width: 3px;
}


/* Cards Section Style */
.card-title {
  font-weight: 600 !important;
  margin-bottom: 12px;
  color: var(--secondary-color);
}

.card {
  box-shadow: 0px 4px 0px var(--shadow);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 0px var(--shadow);
}
