:root {
  --primary-color: #4cc49e;
  --primary-emphasis: #d3f5ea;
  --primary-dark: #00895d;
  --secondary-color: #423f75;
  --secondary-emphasis: #d4d3f5;
  --secondary-dark: #312f58;
  --danger-color: #ff7a71;
  --warning-color: #f3de15;
  --gray100: #f8f9fa;
  --gray200: #e9ecef;
  --gray300: #dee2e6;
  --gray500: #adb5bd;
  --gray600: #6c757d;
  --gray800: #343a40;
  --white: #fff;
  --shadow: #2222221a;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

body {
  background-color: var(--gray100);
  color: var(--gray800);
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: rgb(255, 255, 255, 0.9);
  box-shadow: 0px 0px 5px var(--shadow);
  backdrop-filter: blur(12px);
}

section {
  padding: 80px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar .container-fluid {
  padding: 0 30px !important;
}

.navbar-brand {
  width: 170px;
}

.navbar-icon {
  font-size: 22px;
  color: var(--gray500);
}

.navbar-brand {
  width: 170px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
}

.dropdown-menu.show {
  background-color: var(--white);
}

.user-image {
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.username {
  font-weight: 600;
}

.dropdown-header {
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: small;
  color: var(--gray500);
}

.dropdown-item {
  color: var(--gray800) !important;
  transition: ease-in-out 0.15s;
}

.dropdown-item:hover {
  background-color: var(--primary-emphasis);
}

.toggler-btn {
  cursor: pointer;
  display: flex;
  font-size: 18px;
  line-height: 20px;
  border: 0 !important;
  color: var(--secondary-color);
  background: transparent;
}

#sidebar {
  max-width: 285px;
  min-width: 285px;
  background: linear-gradient(to bottom right, var(--secondary-color), #4b4883);
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: auto;
  padding: 15px 30px;
}

#sidebar.collapsed {
  margin-left: -285px;
}

.sidebar-item {
  position: relative;
  font-weight: 600;
  white-space: nowrap;
  padding: 15px 0;
  border-top: 1px solid var(--secondary-emphasis);
  cursor: pointer;
}

.sidebar-item:first-child {
  border-top: none;
}

.sidebar-link {
  color: var(--white);
  display: flex;
  gap: 15px;
  align-items: center;
}

.sidebar-link:hover {
  color: var(--secondary-emphasis);
  transition: 0.2s ease-in-out;
}

.sidebar-item.active {
  .sidebar-link {
    color: var(--secondary-emphasis);
    transition: 0.2s ease-in-out;
  }
}

.dropdown-container {
  margin-left: 31px;
  padding-bottom: 15px;
}

.dropdown-container-item {
  padding: 12px 0;
  color: var(--white);
  border-top: 1px solid var(--secondary-emphasis) !important;
}

.dropdown-container-item.none {
  border-top: none !important;
}

.dropdown-container-item:hover {
  color: var(--secondary-emphasis);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

/* Rotação da seta do dropdown */
.collapsing {
  transition: none !important;
}

.sidebar-link[aria-expanded="true"] .fa-angle-right {
  transform: rotate(90deg);
}

.card-title {
  font-weight: 600 !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.card {
  box-shadow: 0px 4px 0px var(--shadow);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 0px var(--shadow);
}

.h1 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 48px;
  text-align: center;
  color: var(--secondary-color);
}

.card .btn {
  background-color: var(--primary-color) !important;
  border: var(--primary-color) !important;
  color: var(--white) !important;
  font-weight: 600;
}

.progress-bar-striped,
.progress-bar-animated,
.progress-bar {
  background-color: var(--primary-color) !important;
}

.progress {
  margin-top: 48px;
}

.acertos {
  color: var(--primary-color);
  font-weight: 600;
}

.erros {
  color: var(--danger-color);
  font-weight: 600;
}

.number_questions {
  font-size: 50px;
  font-weight: 600;
}

.section-gradient {
  background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));

  h1 {
    color: var(--white);
  }
}

.h3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
}
