{% extends "base.html" %} 
{% load crispy_forms_filters %}
{% block content %}
<section>
  <div class="m-auto" style="max-width: 80rem">
    <a href="{% url url_voltar %}" class="back-link">
      <i class="fa-solid fa-arrow-left" style="margin-right: 3px"></i> Voltar
    </a>
    <h1 class="mb-4 mt-1">{{ titulo_pagina }}</h1>
    <form method="post" enctype="multipart/form-data">
      <div class="card">
        <p>Campos com <span style="color: var(--danger-color)">*</span> são obrigatórios.</p>
        {% csrf_token %} 
        {% if partial_form %} 
        {% include partial_form %} 
        {% else %} 
        {{ form|crispy }} 
        {% endif %}
      </div>
      <div class="d-flex justify-content-end form-btn" style="gap: 8px">
        <a href="{% url url_voltar %}" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </form>
  </div>
</section>
{% endblock content %}
