{% load crispy_forms_filters %}
<section class="p-1">
  <div class="m-auto" style="max-width: 80rem">
    <form method="post" enctype="multipart/form-data" class="form-questao">
      <div class="card">
        <p>Campos com <span style="color: var(--danger-color)">*</span> são obrigatórios.</p>
        {% csrf_token %} 
        {% if partial_form %} 
        {% include partial_form %} 
        {% else %} 
        {{ form|crispy }} 
        {% endif %}
      </div>
    </form>
  </div>
</section>