{% load crispy_forms_tags %}



<form method="post" enctype="multipart/form-data" id="formCriarGenerico">
  {% csrf_token %}
  
  <div class="modal-body p-4">
    <!-- Container interno padronizado -->
    <div class="card border rounded-3 p-4 bg-white shadow-sm">
      <p class="text-muted small mb-3">Campos com <span class="text-danger">*</span> são obrigatórios.</p>

      {% if form.non_field_errors %}
        <div class="alert alert-danger mb-3">
          {{ form.non_field_errors }}
        </div>
      {% endif %}

      <!-- Renderização dos campos pelo Crispy -->
      {{ form|crispy }}
    </div>
  </div>

  
</form>