{% extends "base.html" %} 
{% load static %} 
{% block title %}{{ titulo_pagina }}{% endblock %} 
{% block content %}
<section>
  <div class="m-auto" style="max-width: 80rem">
    <a href="{% url url_voltar %}" class="back-link">
      <i class="fa-solid fa-arrow-left" style="margin-right: 3px"></i> Voltar
    </a>
    <h1 class="mb-4 mt-1">{{ titulo_pagina }}</h1>
    <div class="card">
      <div class="row">
        {% if perfil %}
        <div class="col-sm-4 text-center">
          <div class="profile-header-avatarAndEdit-wrapper w-100">
            <div class="profile-header-avatarAndEdit">
              {% if object.avatar %}
              <img
                class="profile-header-avatar rounded-circle"
                src="{{ object.avatar.url }}"
                alt="{{ object.username }}"
              />
              {% else %}
              <img
                class="profile-header-avatar rounded-circle"
                src="{% static 'assets/img/avatar.png' %}"
                alt="{{ object.username }}"
              />
              {% endif %}
            </div>
            <h5 class="profile-header-name">{{ object.username }}</h5>
            <p class="text-muted mb-0">{{ object.email }}</p>
          </div>
        </div>
        {% endif %}

        <div class="col">
          <div class="card-body">
            {% for field in fields %}
            <div class="row">
              <div class="col-sm-3 m-auto">
                <p class="mb-0 line-title">{{ field.label|capfirst }}</p>
              </div>
              <div class="col-sm-9">
                {% if field.many %}
                <p class="text-muted mb-0">
                  {% for item in field.value %} {{ item }}{% if not forloop.last %}, {% endif %} {% empty %}—{% endfor %}
                </p>
                {% else %} 
                {% if field.safe %}
                <p class="text-muted mb-0">{{ field.value|safe|default:"—" }}</p>
                {% else %}
                <p class="text-muted mb-0">{{ field.value|default:"—" }}</p>
                {% endif %} 
                {% endif %}
              </div>
            </div>
            {% if not forloop.last %}
            <hr />
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!-- Botões -->
    <div class="row">
      <div class="col d-flex justify-content-end form-btn" style="gap: 8px">
        {% if url_editar %}
        <a href="{% url url_editar object.id %}" class="btn btn-update-detail"> Editar </a>
        {% endif %} 
        {% if url_remover %}
        <button class="btn btn-delete-detail" data-bs-toggle="modal" data-bs-target="#modal{{ object.id }}">
          Remover
        </button>
        {% include "remover.html" with object=object url_remover=url_remover %} 
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}
