{% load crispy_forms_filters %}
<section class="p-1">
  <div class="m-auto" style="max-width: 80rem">
    {% if partial_form %}
      {% include partial_form %}
    {% else %}
    {{ form.media }}
      <div class="card">
        <p>Campos com <span style="color: var(--danger-color)">*</span> são obrigatórios.</p>
        <form method="post" action="{{ request.path }}" id="crud-form">
          {% csrf_token %}
          {{ form|crispy }}
        </form>
      </div>
    {% endif %}
  </div>
</section>
