{% load crispy_forms_filters %}
<section class="p-1">
  <div class="m-auto" style="max-width: 80rem">
    <form method="post" enctype="multipart/form-data" action="{{ request.path }}">
      <div class="card">
        <p>Campos com <span style="color: var(--danger-color)">*</span> são obrigatórios.</p>
        {% csrf_token %} 
        {% if partial_form %} 
        {% include partial_form %} 
        {% else %} 
        {{ form|crispy }} 
        {% endif %}
      </div>
      <div class="d-flex justify-content-end form-btn" style="gap: 8px">
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </form>
  </div>
</section>

{% block scripts %}
<script>
  $("#id_questoes").select2();
  $("#id_disciplina").select2();
  $("#id_assunto").select2();
</script>
{% endblock %}