{% extends "base.html" %} 
{% block title %}{{ titulo_pagina }}{% endblock %} 
{% block content %}
<header>
  <div class="m-auto" style="max-width: 80rem">
    <div class="d-flex align-items-center justify-content-between">
      <h1>{{ titulo_pagina }}</h1>
      {% if url_criar %}
      <a class="btn btn-primary btn-create" href="{% url url_criar %}">Adicionar {{ nome }}</a>
      {% endif %}
    </div>
    <hr />
    <span>{{ subtitulo_pagina }}</span>
  </div>
</header>
<section>
  <div class="m-auto" style="max-width: 80rem">
    {% comment %} <h3 class="section-title">Questões cadastradas</h3> {% endcomment %}
    {% include partial_lista %}
  </div>
</section>
{% endblock content %}
