{% extends "base.html" %} 
{% block title %}Alternativas{% endblock %} 
{% block content %}
<header>
  <div class="m-auto" style="max-width: 80rem">
    <div class="d-flex align-items-center justify-content-between">
      <h1>Alternativas</h1>
      <a class="btn btn-primary" href="{% url 'dashboard:criar-alternativa' %}"
        ><i class="fa-solid fa-plus"></i> Adicionar Alternativa
      </a>
    </div>
    <hr />
    <span>Alguma descrição</span>
  </div>
</header>
<section>
  <div class="m-auto" style="max-width: 80rem">
  {% include 'dashboard/partials/_tabela_alternativas.html' %}
  </div>
</section>
{% endblock content %}
