{% extends "dashboard/base.html" %} 
{% block title %}Dashboard{% endblock title %} 

{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
<a class="text-decoration-none" style="color: inherit" href="{% url 'dashboard:usuarios' %}">
  <div class="card mb-3" style="background-color: var(--primary-emphasis)">
    <div class="card-body">
      <h5 class="card-title">Usuários</h5>
      <p class="card-text">{{ num_usuarios }}</p>
    </div>
  </div>
</a>
<a class="text-decoration-none" style="color: inherit" href="{% url 'dashboard:questoes' %}">
  <div class="card mb-3" style="background-color: var(--secondary-emphasis)">
    <div class="card-body">
      <h5 class="card-title">Questões</h5>
      <p class="card-text">{{ num_questoes }}</p>
    </div>
  </div>
</a>
</div>
{% endblock content %}
