{% extends "base.html" %} 
{% block title %}Provas{% endblock %} 
{% block content %}
<header>
  <div class="m-auto" style="max-width: 80rem">
    <div class="d-flex align-items-center justify-content-between">
      <h1>Provas</h1>
      <a class="btn btn-primary" href="{% url 'dashboard:criar-prova' %}">Adicionar Prova </a>
    </div>
    <hr />
    <span>Alguma descrição</span>
  </div>
</header>
<section>
  <div class="m-auto" style="max-width: 80rem">
    <h3 class="section-title">Provas cadastradas</h3>
    {% include 'dashboard/partials/_tabela_provas.html' %}
  </div>
</section>
{% endblock content %}
