{% extends "base.html" %} {% load static %} {% block content %}

<div class="container-fluid px-0">
  <img src="{% static 'assets/img/welcome.png' %}" class="img-fluid" />
</div>

<!-- Pratique com -->
<section>
  <div class="m-auto my-4" style="max-width: 80rem">
    <h1 class="h1">Pratique com</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card mb-3" id="card-avaliacao">
          <div class="card-body">
            <h5 class="card-title">Questões</h5>
            <p class="card-text mb-4">
              Encontre todas as questões dos últimos processos seletivos reunidas em um lugar só!
            </p>
          </div>
          <a href="{% url 'gabarita_if:questoes' %}" class="btn btn-primary">Realizar questões</a>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" id="card-avaliacao">
          <div class="card-body">
            <h5 class="card-title">Provas</h5>
            <p class="card-text mb-4">Faça provas de anos anteriores e chegue mais perto de alcançar sua aprovação!</p>
          </div>
          <a href="{% url 'gabarita_if:avaliacoes' %}" class="btn btn-primary">Realizar provas</a>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" id="card-avaliacao">
          <div class="card-body">
            <h5 class="card-title">Simulados</h5>
            <p class="card-text mb-4">Pratique com todos os simulados inéditos divulgados pelo Meta IFRN!</p>
          </div>
          <a href="{% url 'gabarita_if:avaliacoes' %}" class="btn btn-primary">Realizar simulados</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Meu Desempenho -->
<section class="section-gradient">
  <div class="m-auto my-4" style="max-width: 80rem">
    <h1 class="h1" style="color: var(--bs-white)">Meu Desempenho</h1>

    <div class="row">
      <div class="col">
        <div class="card" id="card-avaliacao">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Questões respondidas</h5>

            <div class="mb-3">
              <span class="acertos">{{ acertos }} Acertos</span><br />
              <span class="erros">{{ erros }} Erros</span>
            </div>

            <div class="text-end">
              <span class="fs-1 fw-bold"> {{ respondidas }} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Cadernos -->
<section>
  <div class="m-auto my-4" style="max-width: 80rem">
    <h1 class="h1">Cadernos de questões</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <a href="{% url 'gabarita_if:criar-caderno' %}">
          <div class="card mb-3 p-0" id="card-avaliacao">
            <div class="row g-0">
              <div
                class="col-md-4 d-flex justify-content-center align-items-center"
                style="background-color: var(--primary-emphasis); border-radius: 0.5rem; padding: 75px 0"
              >
                <i class="fa-solid fa-folder-plus" style="color: var(--primary-color); font-size: 50px"></i>
              </div>
              <div class="col-md-8 d-flex justify-content-center align-items-center py-4">
                <div class="card-body mx-5">
                  <div class="d-flex gap-2">
                    <h5 class="card-title">Criar novo caderno</h5>
                    <i class="fa-solid fa-up-right-from-square"></i>
                  </div>
                  <p class="card-text">Monte seus cadernos com as melhores questões</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'gabarita_if:cadernos' %}">
          <div class="card mb-3 p-0" id="card-avaliacao">
            <div class="row g-0">
              <div
                class="col-md-4 d-flex justify-content-center align-items-center"
                style="background-color: var(--secondary-emphasis); border-radius: 0.5rem; padding: 75px 0"
              >
                <i class="fa-solid fa-layer-group" style="color: var(--secondary-color); font-size: 50px"></i>
              </div>
              <div class="col-md-8 d-flex justify-content-center align-items-center py-4">
                <div class="card-body mx-5">
                  <div class="d-flex gap-2">
                    <h5 class="card-title">Meus cadernos</h5>
                    <i class="fa-solid fa-up-right-from-square"></i>
                  </div>
                  <p class="card-text">Seus cadernos te ajudam a revisar conteúdos da melhor forma</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
