{% extends "base.html" %} 
{% load static %} 
{% block title %}Meu Painel{% endblock title %} 
{% block content %}
<div class="container-fluid px-0">
  <img src="{% static 'gabarita_if/img/welcome.png' %}" class="img-fluid" />
</div>

<section class="container col-9">
  <h1 class="h1">Pratique com</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body p-4">
          <h5 class="card-title">Questões</h5>
          <p class="card-text">Encontre todas as questões dos últimos processos seletivos reunidas em um lugar só!</p>
          <a href="{% url 'gabarita_if:questoes' %}" class="btn">Responder Questões</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body p-4">
          <h5 class="card-title">Provas</h5>
          <p class="card-text">Faça provas de anos anteriores e chegue mais perto de alcançar sua aprovação!</p>
          <a href="{% url 'gabarita_if:provas' %}" class="btn">Realizar Provas</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body p-4">
          <h5 class="card-title">Simulados</h5>
          <p class="card-text">Pratique com simulados inéditos divulgados pelo Meta IFRN para complementar seus estudos.</p>
          <a href="{% url 'gabarita_if:simulados' %}" class="btn">Realizar Simulados</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-gradient">
  <div class="container col-9">
    <h1 class="h1">Desempenho geral</h1>
    <div class="row g-4">
      <div class="col-sm-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">provas realizadas</h5>
            <p class="card-text">Você realizou 4 de 20 provas</p>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 20%"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">provas realizadas</h5>
            <p class="card-text">Você realizou 4 de 20 provas</p>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 20%"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">questões respondidas</h5>
            <div class="card-text">
              <span class="acertos">80 Acertos</span><br />
              <span class="erros">20 Erros</span>
            </div>
            <div class="text-end mt-auto">
              <span class="number_questions">100<span style="font-size: 40px; color: var(--gray500)">/931</span></span>
              <div class="progress mt-0" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 1px">
                <div class="progress-bar" style="width: 25%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container col-9">
  <h1 class="h1">listas personalizadas</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4 d-flex justify-content-center align-items-center" style="background-color: var(--primary-emphasis)">
            <i class="fa-solid fa-folder-plus" style="color: var(--primary-color); font-size: 50px"></i>
          </div>
          <div class="col-md-8">
            <div class="card-body" style="padding: 60px 16px">
              <h5 class="card-title">criar nova lista</h5>
              <p class="card-text">Monte listas personalizadas com as questões que desejar</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4 d-flex justify-content-center align-items-center" style="background-color: var(--secondary-emphasis)">
            <i class="fa-solid fa-layer-group" style="color: var(--secondary-color); font-size: 50px"></i>
          </div>
          <div class="col-md-8">
            <div class="card-body" style="padding: 60px 16px">
              <h5 class="card-title">minhas listas</h5>
              <p class="card-text">Veja suas listas personalizadas e revise-as quando quiser</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
