{% extends "base.html" %} 
{% load static %} 
{% block title %}Questões{% endblock title %} 
{% block content %}
<header>
  <div class="m-auto" style="max-width: 80rem">
    <div class="d-flex align-items-center justify-content-between">
      <h1>Questões</h1>
    </div>
    <hr />
    <span>Aqui você encontra todas as questões disponíveis na plataforma para praticar quando quiser.</span>
  </div>
</header>

{% include "gabarita_if/partials/_filtro.html" %}

<section>
  <div class="m-auto" style="max-width: 80rem">
    {% if questoes %} 
    <h3 class="section-title mb-2">Questões</h3>
    <p class="small mb-4">{{ questoes.paginator.num_pages }} questões encontradas</p>
    {% else %}
    <h3 class="section-title">Questões</h3>
    {% endif %}
    {% include "gabarita_if/partials/_card_questao.html" %}
  </div>
</section>
{% endblock %}
