{% extends "base.html" %} {% load static %} {% block content %}

<section>
  <div class="m-auto" style="max-width: 80rem">
    <div
      class="card mb-4 d-flex flex-column align-items-center"
      style="
        padding: 6rem;
        background-image: linear-gradient(to bottom right, var(--danger-color), var(--primary-dark));
        color: white !important;
      "
    >
      <h2 class="mt-4 mb-2 text-center fs-1 fw-bold" style="color: white !important">
        {{ simulado.titulo }} {{ prova.titulo }} {{ simulado.ano }} {{ prova.ano }}
      </h2>
      <p class="text-center fs-3" style="font-family: 'Caveat', cursive; letter-spacing: 1px">
        {{ simulado.subtitulo }} {{ prova.instituicao }}
      </p>
    </div>

    <form method="POST">
      {% csrf_token %}
      <div class="d-flex flex-column gap-4">
        {% for object in objects %}
        <div class="col">
          <div class="card mb-3" style="background-color: var(--bs-white); padding: 32px">
            <!-- Título da prova/simulado -->
            {% include "gabarita_if/partials/_questao_header.html" %}

            <div class="card-body">
              {% include "gabarita_if/partials/_questao_textos.html" %}
              <!-- Alternativas -->
              {% include "gabarita_if/partials/_questao_alternativas.html" %} 
              {% include "gabarita_if/partials/_questao_feedback.html" %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="text-end">
        <input type="submit" class="btn btn-primary form-btn" value="Finalizar" />
      </div>
    </form>
  </div>
</section>
{% endblock %}
