{% extends "base.html" %} {% load static %} {% block content %}
<section>
  <div class="m-auto" style="max-width: 80rem">
    <div class="mb-2">
      <a href="{% url url_voltar %}" class="back-link">
        <i class="fa-solid fa-arrow-left" style="margin-right: 3px"></i> Voltar
      </a>
    </div>
    {% if mostrar_feedback %}
    <p class="badge fs-6 mb-2" style="background: var(--primary-emphasis); color: var(--primary-color)">
      Avaliação finalizada
    </p>
    {% endif %} {% if not mostrar_feedback %}
    <form method="POST">
      {% csrf_token %} {% endif %}
      <div class="card d-flex flex-row align-items-center gap-3 mb-3 responder-titulo">
        <i class="fa-solid fa-pen-to-square icon-responder"></i>
        <h3 class="fw-bold mb-0">Responder {{ object.titulo }} - {{ object.ano }}</h3>
      </div>
      <div class="d-flex flex-column gap-3">
        {% for object in objects %}
        <div class="col">
          <div class="card" style="background-color: var(--bs-white); padding: 32px">
            {% include "gabarita_if/partials/_questao_header.html" %}
            <div class="card-body">
              {% include "gabarita_if/partials/_questao_textos.html" %}
              <!-- Alternativas -->
              {% for letra, texto in object.alternativas.items %}
              <div
                class="alternativa-container d-flex align-items-center rounded-lg p-3 {% if not forloop.last %}mb-3{% endif %}"
                style="
                  {% if mostrar_feedback and object.resposta %}
                    {% if letra == object.alternativa_correta %}
                      background-color: var(--primary-emphasis);
                    {% elif letra == object.resposta.alternativa_escolhida %}
                      background-color: var(--danger-emphasis);
                    {% endif %}
                  {% endif %}
                "
              >
                <div class="d-flex align-items-center gap-3 m-auto flex-grow-1">
                  <label class="fw-semibold">{{ letra }})</label>

                  {% if mostrar_feedback %} <input type="radio" name="questao_{{ object.id }}" class="form-check-input custom-radio" disabled 
                  {% if object.resposta and object.resposta.alternativa_escolhida == letra %}checked{% endif %}> {% else %}
                  <input
                    type="radio"
                    name="questao_{{ object.id }}"
                    value="{{ letra }}"
                    class="form-check-input custom-radio"
                    required
                  />
                  {% endif %} {{ texto|safe }}
                </div>
              </div>
              {% endfor %} {% if mostrar_feedback %} {% include "gabarita_if/partials/_questao_feedback.html" %} {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      {% if not mostrar_feedback %}
      <input type="submit" value="Finalizar" class="btn btn-primary btn-long w-100 form-btn" />
      {% endif %} {% if not mostrar_feedback %}
    </form>
    {% endif %} {% if mostrar_feedback %}
    <a href="{% url url_responder object.id %}" class="btn btn-secondary btn-long w-100 form-btn"> Tentar novamente </a>
    {% endif %}
  </div>
</section>
{% endblock %}
